<html>
 <head>
   <meta charset = "utf-8" />
   <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
 </head>
 <body>
   <h1>이미지 올리기</h1>
  <form action='/navi/test/add' enctype="multipart/form-data" method='POST'>
    <input type="file" name="pic" accept="image/*">
    <input type="submit">
  </form>
 </body>
</html>
